{% extends 'base.html' %}
{% block navigation %}
    <li ><a href="{% url 'Home' %}">Home</a></li>
    <li class="active" ><a href="{% url 'About' %}">About</a></li>
    <li><a href="{% url 'Read More' %}">More Information</a></li>
    <li><a href="{% url 'Quiz List' %}">Pneumonia Quiz</a></li>
    <li><a href="{% url 'Prevention' %}">Prevention</a></li>
    <li><a href="{% url 'Search' %}">Clinic Search</a></li>

{% endblock %}


{% block mainbody %}
    {% load static %}
	<!-- Page info section -->
	<section class="more-info set-bg" style="background: #E5E4E2">
		<div class="container">
            <br>
            <h5><a href="{% url 'Home' %}">Home</a>&nbsp;&gt;&nbsp;About</h5>
			<br>
			<h1><font color="2E8B57">About</font></h1><br>
		</div>
	</section>
	<!-- Page info section end -->

    <!-- Intro section -->
	<section class="intro-section spad">
      <div class="container">
         <div class="row">
            <div class="col-lg-6">
               <img src="{% static 'img/about/about-page.jpg' %}" alt="">
            </div>
                <div class="col-lg-6 intro-text">
                    <h2 style="color: green">We Care About Your Children's Lung Health</h2>
                    <p1>The website aims to provide:</p1>
                    <br><br>
                    <p>• A chance to let you test your knowledge and find out further information about children’s pneumonia.</p>
                    <p>• The knowledge of pneumonia prevention, vaccination.</p>
                    <p>• Help you find the clinics near your location.</p>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-lg-6 intro-text">
                    <h2 style="color: green">Why Us?</h2>
                    <p1>We provide you with the best solution and actions to even
                        safety concern your children’s lung health:</p1>
                    <br><br>
                    <p>• Targeted quiz help you have a comprehensive understanding of children’s pneumonia knowledge;</p>
                    <p>• A quick search of a nearby clinic to help you find the optimum clinic;</p>
                    <p>• Helps you plan your children’s vaccine schedule.</p>
                </div>
                <div class="col-lg-6">
               <img src="{% static 'img/about/picture1.jpg' %}" alt=""style="height: 380px">
            </div>
         </div>
      </div>
   </section>
	<!-- Intro section end -->

    <!-- Facts section -->
    <section class="doctors-section spad"style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../static/img/about/picture3.jpg)">
      <div class="container">
         <div class="section-teamtitle text-center">
            <h2 style="color: #fdfdfe; font-weight: bold">The Team</h2>
         </div>
         <div class="row">
            <div class="col-lg-2 col-md-3  col-sm-6" style="margin-left: 80px">
               <div class="doctor-item">
                  <div class="di-pic set-bg" data-setbg={% static "img/about/dongliang.jpeg" %}></div>
                  <h6s style="color: #fdfdfe; font-weight: bolder">Dongling Feng</h6s>
                  <p style="color: #28a745; font-weight: bolder">Business Analysis</p>
               </div>
            </div>
            <div class="col-lg-2 col-md-3  col-sm-6" style="margin-left: 80px">
               <div class="doctor-item">
                  <div class="di-pic set-bg" data-setbg={% static "img/about/yanping.jpeg" %}></div>
                  <h6 style="color: #fdfdfe; font-weight: bolder">Yanping Luo</h6>
                  <p style="color: #28a745; font-weight: bolder">Security maintenance</p>
               </div>
            </div>
            <div class="col-lg-2 col-md-3  col-sm-6"style="margin-left: 80px">
               <div class="doctor-item">
                  <div class="di-pic set-bg" data-setbg={% static "img/about/yuting.png" %}></div>
                  <h6 style="color: #fdfdfe; font-weight: bolder">Yuting Ouyang</h6>
                  <p style="color: #28a745; font-weight: bolder">UI Designer</p>
               </div>
            </div>
            <div class="col-lg-2 col-md-3  col-sm-6"style="margin-left: 80px">
               <div class="doctor-item">
                  <div class="di-pic set-bg" data-setbg={% static "img/about/tianrui.jpeg" %}></div>
                  <h6 style="color: #fdfdfe; font-weight: bolder">Tianrui Chen</h6>
                  <p style="color: #28a745; font-weight: bolder">Web Developer</p>
               </div>
            </div>
         </div>
      </div>
   </section>

	<!-- about us end -->

{% endblock %}
{% block script %}
{% endblock %}