{% load static  %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Green Lung</title>
	<meta charset="UTF-8">
	<meta name="description" content="LungHealth - TA2 Template">
	<meta name="keywords" content="LungHealth, TA2, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->


	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>

    {% block mapstyle %}
    {% endblock %}

    {% block other_css %}
    {% endblock %}
    {% block other_js %}
    {% endblock %}

    {% block js %}
    {% endblock %}

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../static/css/owl.carousel.css"/>
	<link rel="stylesheet" href="../static/css/style2.css"/>
	<link rel="stylesheet" href="../static/css/animate.css"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<!-- Site Logo -->
			<a id='logo' href="{% url 'Home' %}" class="site-logo">
				<img src="{% static 'img/logonew.png'%}" style="margin-top: -5px" alt="">
			</a>
             <!-- responsive -->
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<!-- Main Menu -->
             <ul class="main-menu">
                 {% block navigation %}
                 {% endblock %}
			 </ul>
		</div>
	</header>
	<!-- Header section end -->

    {% block mainbody %}
    {% endblock %}

	<!-- Footer top section -->
	<section class="footer-top-section set-bg" data-setbg="{% static 'img/footer.jpg' %}">
		<div class="container" style="padding-left: -50px">
			<div class="row">
                <div class="col-lg-2 col-md-2" style="margin-right:-50px;">
                    <a href="{% url 'Home' %}"><img src="{% static 'img/logo.003.png' %}" alt="site-logo"></a>
                </div>
				<div class="col-lg-4 col-md-4" style="">
					<div class="footer-widget">
						<div class="fw-about">
							<p>Our website is aim to help you learn about pneumonia and
                                provide the best solutions to protect every safety
                                concern your lung health.
                            </p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6"  >
                    <div class="footer-widget" style="padding-left: 60px; padding-top: 30px; font-size: 20px;white-space: nowrap;">
                        <div class="fw-links">
                             <ul id = 'footer-list'>
                                <li><a href="{% url 'Home' %}">Home</a></li>
                                <li><a href="{% url 'About' %}">About</a></li>
                                <li><a href="{% url 'Read More' %}">Learn Pneumonia</a></li>
                                <li><a href="{% url 'Quiz List' %}">Quiz</a></li>
                                <li><a href="{% url 'Prevention' %}">Prevention</a></li>
                                <li><a href="{% url 'Search' %}">Clinic Search</a></li>
                             </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<!-- Footer top section end -->

	<!-- Footer section -->
	<footer class="footer-section" style="background-color: #fdfdfe; " >
		<div class="container" >
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright" style="font-weight: bold">
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This website is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by
                        <a style="color: green">TA02</a>
                    </div>
                </div>
                <div class="col-lg-6" style="text-align: right; margin-right: -100px">
                    <div id="backtotop"><a href="#logo" style="color: black; ">Back To Top</a></div>
                </div>
            </div>
        </div>

	</footer>
	<!-- Footer top section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="../static/js/jquery-3.2.1.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/owl.carousel.min.js"></script>
	<script src="../static/js/circle-progress.min.js"></script>
	<script src="../static/js/main.js"></script>

    <style type="text/css">
        .footer-top-section {
          padding-top: 0px;
          padding-bottom: 10px;
        }

        #backtotop. a:link {color:#000000;}      /* 未访问链接*/
        #backtotop. a:visited {color:#00FF00;}  /* 已访问链接 */
        #backtotop. a:hover {color:#FF00FF;}  /* 鼠标移动到链接上 */
        #backtotop. a:active {color:#0000FF;}  /* 鼠标点击时 */

        #footer-list {list-style-type: none;}
        #footer-list li {float: left; margin-right: 14px;}
    </style>

    {% block script %}
    {% endblock %}

    </body>
</html>
