{% extends 'base.html' %}
{% block navigation %}
    <li class="active" ><a href="{% url 'Home' %}">Home</a></li>
    <li ><a href="{% url 'About' %}">About</a></li>
    <li ><a href="{% url 'Read More' %}">More Information</a></li>
    <li><a href="{% url 'Quiz List' %}">Pneumonia Quiz</a></li>
    <li><a href="{% url 'Search' %}">Clinic Search</a></li>

{% endblock %}

{% block mainbody %}
    {% load static %}
    <!-- brief intro section -->
	<section class="hero-section">
      <div class="hero-slider owl-carousel">
         <div class="hs-item set-bg text-white" data-setbg="{% static 'img/homepage/bg.png'%}">
            <div class="container">
               <div class="row">
                  <div class="col-xl-7">
                     <h3 style="white-space: nowrap; font-weight: bold;font-size: 60px"><font color="#006400">Keep Your Children Safe</font></h3>
                      <h3 style="white-space: nowrap; font-weight: bold;font-size: 60px"><font color="#006400">From Pneumonia</font></h3>
                     <h4 style="white-space: nowrap"><font color="black">Do you know your children can get pneumonia?</font></h4>
                     <p> <a href="{% url 'Read More' %}" class="site-btn">Read More</a> </p>
                  </div>
               </div>
            </div>
         </div>

         <!-- item -->
         <div class="hs-item set-bg text-white" data-setbg="{% static '/img/homepage/info.jpg'%}">
            <div class="container">
               <div class="row">
                  <div class="col-xl-7">
                     <h3 style="white-space: nowrap; font-weight: bold; font-size: 60px"><font color="#006400">Get Your Children</font></h3>
                      <h3 style="white-space: nowrap; font-weight: bold; font-size: 60px"><font color="#006400">Pneumonia Vaccinated</font></h3>
                     <h4 style="white-space: nowrap"><font color="black">Do you know how important
                        to get the pneumonia vaccine?</font></h4><br>
                     <a href="{% url 'Read More' %}" class="site-btn">Read More</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
	<!-- brief intro  end -->

    <!-- Services section -->
	<section class="services-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h2>Our Services</h2>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-8 service">
					<div class="service-icon">
                        <a href ='{% url 'Quiz List' %}'><img src="{% static 'img/quiz.png'%}" alt=""></a>
					</div>
					<div class="service-content">
						<h4><a href="{% url 'Quiz List' %}" >Evaluation</a></h4>
						<p>self-examination the knowledge of pneumonia.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service">
					<div class="service-icon">
						<a href='{% url 'Search' %}'><img src="{% static 'img/hospital.png'%}" alt=""></a>
					</div>
					<div class="service-content">
                        <h4><a href="{% url 'Search' %}" >Clinic Search</a></h4>
						<p>Search clinics within a given location.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service">
					<div class="service-icon">
                        <a href='{% url 'Read More' %}'><img src="{% static 'img/doctor.png' %}" alt=""></a>
					</div>
					<div class="service-content">
						<h4><a href="{% url 'Read More' %}" >Vaccine Schedule </a></h4>
						<p>Check the vaccine and make your schedule</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Services section end -->

    <!-- Data section -->
    <section class="facts-section set-bg" data-setbg="{% static '/img/more-info'%}" style="background:#28a745 ">
      <div class="container">
         <div class="row">
            <div class="col-md-3 col-sm-6 fact">
               <img src="{% static 'img/about/baby.png' %}" alt="" style="width:50px;height: 50px">
                    <br><br>
               <h2>0.008% </h2>
               <p>Children's Pneumonia</p>
            </div>
            <div class="col-md-3 col-sm-6 fact">
               <img src="{% static 'img/about/death.png' %}" alt="" style="width:50px;height: 50px">
                    <br><br>
               <h2>12</h2>
               <p>Death Toll</p>
            </div>
            <div class="col-md-3 col-sm-6 fact">
               <img src="{% static 'img/about/vaccine.png' %}" alt="" style="width:50px;height: 50px">
                    <br><br>
               <h2>95% </h2>
               <p>Immunisation coverage</p>
            </div>
            <div class="col-md-3 col-sm-6 fact">
               <img src="{% static 'img/about/hospital.png' %}" alt="" style="width:50px;height: 50px">
                    <br><br>
               <h2>1350</h2>
               <p>Hospitals</p>
            </div>
         </div>
      </div>
   </section>
    <!-- Data section end-->

	<!-- About section -->
	<section class="about-section spad" style="padding-left: 150px">
      <div class="container">
         <div class="row">
            <div class="col-lg-5">
               <img src="{% static 'img/homepage/c1.JPG' %}" style="height:300px ;width:500px">
               <br><br>
               <h2><font color="2E8B57">Babies & Young children</font></h2><br>
               <h5><font color="2E8B57">In babies and children younger than five years:<br></font></h5>
                <h6><font color="696969" >pneumonia is more likely to be caused by a virus.</font> </h6>
                <br>
               <h5><font color="2E8B57">In children older than five years:<br></font></h5>
               <h6><font color="696969" >pneumonia is more likely to be caused by bacteria.</font></h6>
                <br>
            </div>
            <div class="col-lg-7 about-text">
               <h2><font color="2E8B57">About children pneumonia</font></h2>
               <h5><font color="696969">Pneumonia is a lung infection. </font></h5> <br>
                <h6><font color="696969">When someone has pneumonia, the small airways in their lungs<br> get clogged with mucus.<br><br>This reduces the amount of oxygen that can get into their body.</font></h6><br>
               <img src="{% static 'img/homepage/11.jpg' %}" style="height:300px ;width:500px">
            </div>
         </div>
      </div>
   </section>
    <!-- About section end -->

{% endblock %}
{% block script %}
{% endblock %}