<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% load static %}
    <script type="text/javascript">
        function password() {
        var testV = 1;
        var pass1 = prompt('You need to enter the password:','');
        while (testV < 999) {
        if (!pass1)
        history.go(-1);
        if (pass1 == "TA02") {//password
        alert('Your password is right!');
        window.location.href="{% url 'Home' %}";
        break;
        }
        testV+=1;
        var pass1 =
        prompt('Sorry，wrong password！:(','');
        }
        if (pass1!="password" & testV ==999)
        history.go(-1);
        return " ";
        }
        document.write(password());
</script>
</body>
</html>