{% extends 'base.html' %}
{% block navigation %}
    <li><a href="{% url 'Home' %}">Home</a></li>
    <li ><a href="{% url 'About' %}">About</a></li>
    <li ><a href="{% url 'Read More' %}">More Information</a></li>
    <li><a href="{% url 'Quiz List' %}">Pneumonia Quiz</a></li>
    <li class="active"><a href="{% url 'Prevention' %}">Prevention</a></li>
    <li><a href="{% url 'Search' %}">Clinic Search</a></li>

{% endblock %}
{% block mainbody %}
    {% load static %}
    <style>
        body {
          font-family: Arial, Helvetica, sans-serif;
        }

        .flip-box {
          background-color: transparent;
          width: 510px;
          height: 410px;
          border: 1px solid #f1f1f1;
          perspective: 1000px;
        }

        .flip-box-inner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 0.6s;
          transform-style: preserve-3d;
        }

        .flip-box:hover .flip-box-inner {
          transform: rotateY(180deg);
        }

        .flip-box-front, .flip-box-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }

        .flip-box-front {
          background-color: #bbb;
          color: black;
        }

        .flip-box-back {
          background-color: dodgerblue;
          color: white;
          transform: rotateY(180deg);
        }
    </style>

    <div style="border-style: none;height: 300px;background-color: #1c7430">
        <h1 style="font-weight: bolder;color: white;text-align: center">Prevention</h1>
        <p style="font-size: 30px;color: white;text-align: center;padding-left: 30px;padding-right: 30px">Pneumonia prevention is key and that involves your child staying healthy. Remind your child to wash their hands frequently,
            keep them away from poor air quality, and make sure they get vaccinated.
        </p>
    </div>
    <div class="row" style="margin: 15px">
    <div class="col-lg-4" style="width: 100px">
        <div class="flip-box" style="width: 450px">
            <div class="flip-box-inner">
                <div class="flip-box-front" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../static/img/prevention/washhand/handwashing.jpg);background-size: cover;padding-top: 180px">
                    <h2 style="color: white;font-weight: bold">Health Habit</h2>
                </div>
                 <a href="{% url 'Health Habit' %}" >
                    <div class="flip-box-back"style="background-color: #71cd29; padding-top: 30px">
                        <img src="/static/img/prevention/washhand/washing-hand2.png" style="width: 100px"><br><br>
                        <h2>
                            Good health habits will help your children away from pneumonia.
                        </h2>
                        <br><br>
                        <a href="{% url 'Health Habit' %}"><h3 style="font-size: 20px">Click Here To Learn More!</h3></a>
                    </div>
                 </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="flip-box">
            <div class="flip-box-inner" style="width: 450px">
                <div class="flip-box-front" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../static/img/prevention/airquality/airquality.jpg);background-size: cover;padding-top: 180px">
                    <h2 style="color: white;font-weight: bold">Air Quality</h2>
                </div>
                <a href="{% url 'Air Quality' %}" >
                    <div class="flip-box-back"style="background-color: #71cd29;padding-top: 30px">
                        <img src="/static/img/prevention/airquality/air-quality2.png" style="width: 100px"><br><br>
                        <h2>Help your child breathe better. Click to view how important of air quality to maintain lung health.</h2>
                        <br>
                        <a href="{% url 'Air Quality' %}"><h3 style="font-size: 20px">Click Here To Learn More!</h3></a>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="flip-box">
            <div class="flip-box-inner" style="width: 450px">
                <div class="flip-box-front" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../static/img/prevention/shcedule/schedul.jpg);background-size: cover;padding-top: 180px">
                    <h2 style="color: white;font-weight: bold">Vaccine Schedule</h2>
                </div>
                <a href="{% url 'Vaccine' %}">
                    <div class="flip-box-back" style="background-color: #71cd29;padding-top: 30px">
                        <img src="/static/img/prevention/shcedule/syringe.png" style="width: 100px"><br><br>
                        <h2>
                            Make sure your child is vaccinated. Start plan your children's vaccine schedule.
                        </h2>
                        <br><br>
                        <a href="{% url 'Vaccine' %}"><h3 style="font-size: 20px">Click Here To Learn More!</h3></a>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
