{% extends 'base.html' %}
{% block navigation %}
    <li ><a href="{% url 'Home' %}">Home</a></li>
    <li><a href="{% url 'About' %}">About</a></li>
    <li ><a href="{% url 'Read More' %}">Learn Pneumonia</a></li>
    <li class="active"><a href="{% url 'Quiz List' %}">Quiz</a></li>
    <li><a href="{% url 'Prevention' %}">Prevention</a></li>
    <li><a href="{% url 'Search' %}">Clinic Search</a></li>
{% endblock %}

{% block mainbody %}
    {% load static %}

    <!-- Page info section -->
    <section class="more-info set-bg" style="background: #E5E4E2">
		<div class="container">
            <br>
            <h5><a href="{% url 'Home' %}">Home</a>&nbsp;&gt;&nbsp;&nbsp;<a href="{% url 'Quiz List' %}">Quiz Category</a>&nbsp;&gt;&nbsp;Start Quiz</h5>
			<br>
			<h1><font color="2E8B57">Star a Quiz</font></h1><br>
		</div>
	</section>
	<!-- Page info section end -->

	<!-- Quiz start section -->
	<section class="quiz-intro-section spad" style="margin-top:-40px; margin-bottom: -200px;">
		<div class="container">
			<div class="section-title text-center">
				<h2><font color="#2E8B57">{{ category.title}}</font> </h2>
				<br>
				<div class="quiz-box" style="    width: 800px;
				                                 height:auto;
                                                 border: 1px solid #E5E4E2;
                                                 padding: 1px;
                                                 margin:180px;
                                                 margin-top: 1px;
                                                 float: top;
                                                 background-color: #D1D0CE;">
                    <div class="info" style="padding-top: 30px" >
                    	<h4>Test Your Knowledge of Children's Pneumonia</h4>
                        <br>
					    <h6><font color="#6D6968">With the growing number of children's pneumonia.
                        <br> It is important for you to have basic understanding of pneumonia, time to start!</font></h6>
                        <br>
                        <img src="{% static 'img/quiz-intro/1.jpg' %}" alt="" height="400px" width="500spx">
                        <br><br><br>
                         <form action="quizstart" method='POST' >
                             {% csrf_token %}
                            {% if category.category == 'A'%}
                                <input type="submit" class="site-btn" name = 'A' value="Start Quiz 1">
                                <a href = '{% url 'Quiz List' %}'><input class="site-btn" name = 'back' value="Choose Again"></a>
                            {% elif  category.category == 'B'%}
                                <input type="submit" class="site-btn" name = 'B' value="Start Quiz 2">
                                <a href = '{% url 'Quiz List' %}'><input  class="site-btn" name = 'back' value="Choose Again"></a>
                            {% else  %}
                                <input type="submit" class="site-btn" name = 'C' value="Start Quiz 3">
                                <a href = '{% url 'Quiz List' %}'><input class="site-btn" name = 'back' value="Choose Again"></a>
                            {% endif %}
                         </form>
                        <br>
                        <br>
                    </div>
				</div>
			</div>
            <div class="service-content">
                <div class="popup_back" style="display:none;"></div>
                <div class="popup_window_first" style="display:none;">
                    <br>
                    <p class="popup_cont">Are you sure to start a quiz?</p><br>
                    <a href="{% url 'Evaluation' %}"><button style="background: #13B51E" >YES</button></a> &nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
		</div>
	</section>
	<!-- Quiz start section -->

{% endblock %}

{% block script %}
<script>
		/*点击弹出按钮*/
		function popBox() {
			var popBox = document.getElementById("popBox");
			var popLayer = document.getElementById("popLayer");
			popBox.style.display = "block";
			popLayer.style.display = "block";
		};

		/*点击关闭按钮*/
		function closeBox() {
			var popBox = document.getElementById("popBox");
			var popLayer = document.getElementById("popLayer");
			popBox.style.display = "none";
			popLayer.style.display = "none";
		}
	</script>
{% endblock %}



