{% extends 'base.html' %}
{% block navigation %}
    <li ><a href="{% url 'Home' %}">Home</a></li>
    <li ><a href="{% url 'About' %}">About</a></li>
    <li ><a href="{% url 'Read More' %}">Learn Pneumonia</a></li>
    <li class="active"><a href="{% url 'Quiz List' %}">Quiz</a></li>
    <li><a href="{% url 'Prevention' %}">Prevention</a></li>
    <li><a href="{% url 'Search' %}">Clinic Search</a></li>
{% endblock %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
{% block mainbody %}
    {% load static %}
    <!-- Page info section -->
	<section class="more-info set-bg" style="background: #E5E4E2">
		<div class="container">
            <br>
            <h5><a href="{% url 'Home' %}">Home</a>&nbsp;&gt;&nbsp;
                Quiz Category
            </h5>
			<br>
			<h1><font color="2E8B57">Quiz Category</font></h1><br>
		</div>
	</section>
	<!-- Page info section end -->

	<!-- Quiz Category section -->
    <section>
    <br><br><br>
		<div class="container">
			<div class="blog-item">
				<div class="row">
					<div class="col-lg-6 blog-thumb">
						<img src="{% static 'img/quiz_category/8.jpg' %}" alt="" style="height:300px ;width:500px">
					</div>
					<div class="col-lg-6 blog-content">
						<div class="date">Quiz 1</div>
                        <h3><font color="2E8B57">Introduction of Prevention:</font></h3>
						<div class="blog-metas">
							<div class="blog-meta">Tags:<a href="{% url 'Read More' %}">pneumonia</a>,<a href="{% url 'Read More' %}">children,</a><a href="{% url 'Read More' %}">introduction</a></div>
						</div>
                        <p><font color="696969">
                            In this quiz, you will be tested to see if you are familiar with the basic knowledge of pneumonia and you will get feedback on it.
                         </font></p>
						<form action="/quizlist/quizstart" method='POST' >
                            {% csrf_token %}
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal"style="background-color: #71cd29" data-target="#myModal">Start quiz 1</button>
                            <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 style=" margin-right: 50px;">Are you sure about doing quiz 1?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p style="color:green; font-weight: bold">Do you want to start quiz 1 or read more knowledge about children pneumonia?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" onclick="window.location.href='{% url 'Read More' %}'" data-dismiss="modal">Read More</button>
                                        <input type="submit" class="btn btn-default"  value="Start Quiz" name='A'>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </form>
					</div>
				</div>
			</div>
        </div>

		<div class="container">
			<div class="blog-item">
				<div class="row">
					<div class="col-lg-6 blog-thumb">
						<img src="{% static 'img/quiz_category/10.jpg' %}" alt="" style="height:300px ;width:500px">
					</div>
					<div class="col-lg-6 blog-content">
						<div class="date">Quiz 2</div>
                        <h3><font color="2E8B57"> How to prevent pneumonia :</font></h3>
						<div class="blog-metas">
							<div class="blog-meta">Tags:<a href="{% url 'Read More' %}">pneumonia</a>,<a href="{% url 'Read More' %}">children,</a><a href="{% url 'Read More' %}">vaccines</a></div>
						</div>
                        <p><font color="696969">
                            In this quiz, you will be tested to see if you are familiar with the basic knowledge of pneumonia and you will get the feedback on it.
                         </font></p>
						<form action="/quizlist/quizstart" method='POST' >
                            {% csrf_token %}
                            <button type="button" class="btn btn-info btn-lg"style="background-color: #71cd29" data-toggle="modal" data-target="#myModal2">Start quiz 2</button>
                            <div class="modal fade" id="myModal2" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 style=" margin-right: 50px;">Are you sure about doing quiz 2?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p style="color:green; font-weight: bold">Do you want to start the quiz 2 or read more knowledge about children pneumonia?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" onclick="window.location.href='{% url 'Read More' %}'" data-dismiss="modal">Read More</button>
                                            <input type="submit" class="btn btn-default"  value="Start Quiz" name='B'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
					</div>
				</div>
			</div>
        </div>

		<div class="container">
			<div class="blog-item">
				<div class="row">
					<div class="col-lg-6 blog-thumb">
						<img src="{% static 'img/quiz_category/9.jpg' %}" alt="" style="height:300px ;width:500px">
					</div>
					<div class="col-lg-6 blog-content">
						<div class="date">Quiz 3</div>
                        <h3><font color="2E8B57"> How to recover Prevention:</font></h3>
						<div class="blog-metas">
							<div class="blog-meta">Tags:<a href="{% url 'Read More' %}">pneumonia</a>,<a href="{% url 'Read More' %}">children,</a><a href="{% url 'Read More' %}">recover</a></div>
						</div>
                        <p><font color="696969">
                            In this quiz, you will be tested to see if you are familiar with the basic knowledge of pneumonia and you will get the feedback on it.
                         </font></p>
						<form action="/quizlist/quizstart" method='POST' >
                            {% csrf_token %}
                            <button type="button" class="btn btn-info btn-lg"style="background-color: #71cd29" data-toggle="modal" data-target="#myModal3">Start quiz 3</button>
                            <div class="modal fade" id="myModal3" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 style=" margin-right: 50px;">Are you sure about doing quiz 3?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p style="color:green; font-weight: bold">Do you want to start the quiz 3 or read more knowledge about children pneumonia?</p>
                                        </div>
                                        <div class="modal-footer">
                                                <button type="button" class="btn btn-default" onclick="window.location.href='{% url 'Read More' %}'" data-dismiss="modal">Read More</button>
                                                <input type="submit" class="btn btn-default"  value="Start Quiz" name='C'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
					</div>
				</div>
			</div>
        </div>
    </section>
    <!-- Service Featured section end-->

{% endblock %}

