{% extends 'base.html' %}
{% block navigation %}
    <li ><a href="{% url 'Home' %}">Home</a></li>
    <li class="active"><a href="{% url 'Read More' %}">More Information</a></li>
    <li ><a href="{% url 'Service' %}">Service</a></li>
{% endblock %}

{% block mainbody %}
    {% load static %}
        <!-- Page info section -->
	<section class="more-info set-bg" style="background: #E5E4E2">
		<div class="container">
            <br>
			<h5><a href="{% url 'Home' %}">Home</a>&nbsp;&gt;&nbsp;More information</h5>
			<br>
            <br>
			<h1><font color="2E8B57">More Information</font></h1>
            <br>

		</div>
	</section>
	<!-- Page info section end -->

	<!-- Faq section -->
	<section class="faq-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2><font color="2E8B57">Does my child need to see a doctor about pneumonia? </font></h2>
					</div>
					<ul class="faq-list">
						<h5><font color="696969">You should take your child to see your GP if your child: </font></h5><br>
						<li><h7><font color="696969"> has a cough and fever </font></h7></li>
						<li><h7><font color="696969">is vomiting and not able to drink much</font></h7></li>
						<li><h7><font color="696969"></font>has stomach pain or chest pain, especially when coughing</h7></li>
						<li><h7><font color="696969"> has difficulty breathing:<br>you might see the ribs or skin under the neck sucking in,
                        flaring nostrils or a bobbing head</font></h7></li>
						<h6><font color="DC143C">If your younger baby is listless and breathing rapidly,
                            <br>you should take your baby to the GP, especially if your baby is under five months old. </font></h6>

						<br>
						<br>
						<h2><font color="2E8B57">Tests for children pneumonia</font> </h2>
						<br>

						<li><h7><font color="696969">Your GP can usually say whether your child has pneumonia by checking your child’s symptoms and examining your child</font></h7></li>
						<li><h7><font color="696969">Your GP might send your child for a chest X-ray. <br>This will show clearly whether your child has pneumonia. </font></h7></li>
						<li><h7><font color="696969">Blood tests can sometimes help doctors to work out whether your child’s pneumonia is caused by a virus or bacteria. </font></h7></li>
					</ul>
					<a href="{% url 'Home' %}" class="site-btn mt-4">Back</a>
				</div>
				<div class="col-lg-6">
					<!-- Accordions -->
					<div id="accordion" class="accordion-area faq-accordion">
                        <h5 style ="color:#FFD700;font-size:26px;">&hearts;&nbsp;&hearts;&nbsp;&hearts;</h5><br>
						<h5>All children at<font color="2E8B57"> 2, 4 and 12 months </font>of age have to get the vaccine.</h5>
						<br>
                        <div class="panel">
							<div class="panel-header" id="headingOne">
								<button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1" >Pneumonia&nbsp;Vaccines</button>
							</div>
							<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="panel-body">
									<img src="{% static 'img/read more page/needle.png' %}" alt="">
									<h5>There are currently vaccines to prevent two types of pneumonia.</h5><br>
										<p>These vaccines won't prevent all cases of pneumonia, but they can reduce the risk of severe and life-threatening complications. </p>
								</div>
							</div>
						</div>
					    <div class="panel">
							<div class="panel-header" id="headingTwo">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">PCV13 (Prevnar 13)</button>
							</div>
							<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="panel-body">
									<img src="{% static 'img/read more page/drug.png' %}" alt="">
									<p>PCV13 (Prevnar 13) is recommended for all children younger than 5 years old, all adults 65 years or older, and people 6 years or older with certain risk factors. </p>
									<br>
								</div>
							</div>
						</div>

                        <div class="panel">
                            <div class="panel-header active" id="headingThree">
                                <button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Pneumococcal polysaccharide vaccine (PPSV23 or Pneumovax)</button>
                            </div>
							<div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="panel-body">
									<img src="{% static 'img/read more page/injection.png' %}" alt="">
									<h5>Pneumococcal polysaccharide vaccine (PPSV23 or Pneumovax) is recommended for children older than 2 years old.</h5><br>
									<p>Covers 23 strains of pneumococcal disease.</p>
								</div>
							</div>
							<br>
							<br>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Faq section end -->
{% endblock %}


