{% extends 'base.html' %}
{% block navigation %}
    <li ><a href="{% url 'Home' %}">Home</a></li>
    <li ><a href="{% url 'Read More' %}">Learn Pneumonia</a></li>
    <li class="active"><a href="{% url 'Quiz List' %}">Quiz</a></li>
    <li><a href="{% url 'Prevention' %}">Prevention</a></li>
    <li><a href="{% url 'Search' %}">Clinic Search</a></li>
    <li><a href="{% url 'About' %}">About</a></li>
{% endblock %}

{% block mainbody %}
    {% load static %}
    <!-- Page info section -->
	<section class="more-info set-bg" style="background: #E5E4E2">
		<div class="container"><br><br>
            <h5>
                <a href="{% url 'Home' %}">Home</a>&nbsp;&gt;&nbsp;
                <a href="{% url 'Quiz List' %}">Quiz Category</a>&nbsp;&gt;&nbsp;
                <a href="{% url 'Evaluation' %}">Quiz</a>&nbsp;&gt;&nbsp;Quiz Review
            </h5>
			<h2><font color="2E8B57">Quiz Review</font></h2><br><br>
		</div>
	</section>
	<!-- Page info section end -->

	<!-- Review section -->
	<section class="services-section spad">
		<div class="container">
			<div class="row">
                {% for ques, ans in question_dic.items %}
                    <div class="col-lg-6 blog-content">
                        <div class="date">Question {{ ques.questionId }}</div>
                        <h3>{{ ques.question }}</h3>
                        <div class="blog-metas">
                            <div class="blog-meta">Keywords:<a href="{% url 'Read More' %}">{{ ques.keyword }}</a></div>
                        </div>
                        <label>{{ ques.choiceA }} </label><br>
                        <label>{{ ques.choiceB }} </label><br>
                        <label>{{ ques.choiceC }} </label><br>
                    <br><br>
					</div>
					<div class="col-lg-6 blog-thumb">
                        <br><br>
                        {% if ans == ques.answer %}
                            <div class="review" style="border-style: solid;
                                                       border-color: #28a745;
                                                       border-width:4px;
                                                     width:auto;
                                                     height:auto;
                                                     padding: 1px;
                                                     background-color: #D1D0CE;">
                                <p>
                                  <vi style="color:black;font-size:18px;">
                                    Your Answer is:
                                  </vi>
                                    <vi style="color:limegreen;font-size:22px;font-weight:bold;">{{ ans }}</vi>
                                </p>
                                <p>
                                  <vi style="color:black;font-size:18px;">
                                    The Correct Answer is:
                                  </vi>
                                    <vi style="color:limegreen;font-size:22px;font-weight:bold;">{{ ques.answer }}</vi>
                                </p>
                                <h5>Feedback:&nbsp;{{ ques.feedbackA }}</h5>
                                <br><br>
                            </div>
                        {% else %}
                            <div class="review" style="border-style: solid;
                                                       border-color: #c82333;
                                                       border-width:4px;
                                                     width:auto;
                                                     height:auto;
                                                     padding: 1px;
                                                     background-color: #D1D0CE;">
                                <p>
                                  <vi style="color:black;font-size:18px;">
                                    Your Answer is:
                                  </vi>
                                  <vi style="color:red;font-size:22px;font-weight:bold;">{{ ans }}</vi>
                                </p>
                                <p>
                                  <vi style="color:black;font-size:18px;">
                                    The Correct Answer is:
                                  </vi>
                                    <vi style="color:limegreen;font-size:22px;font-weight:bold;">{{ ques.answer }}</vi>
                                </p>
                                <h5>Feedback:&nbsp;{{ ques.feedbackA }}</h5>
                                <br><br>
                            </div>
                        {% endif %}
					</div>
                {% endfor %}
                <div class="container"  style="border-style: solid;border-color: #28a745; border-width: 3px;margin: 30px">
                    <div><br>
                        <div class="service-icon">
                            <img src="{% static 'img/review/check.png' %}" alt="suggestion"></a>
                        </div>
                        <h4><a href="{% url 'Quiz List' %}"class="btn_click" style="text-align: left;">Suggestion</a></h4>
                        <br><br><br>
                        <div>
                            <p>
                              <vi style="color:black;font-size:24px; font-weight: bolder">
                                 Your Final Grade is:&nbsp;
                              </vi>
                                {% if grade == "Not so good" %}
                                    <vi style="color:red;font-weight: bold;font-size: 40px"> {{ score }}&nbsp;---&nbsp;{{ grade }} !</vi>
                                {% else %}
                                    <vi style="font-weight: bold;color: #1c7430;font-size: 40px"> {{ score }}&nbsp;---&nbsp;{{ grade }} !</vi>
                                {% endif %}
                            </p>
                            <br>
                            <h4> {{ suggestion }} </h4>
                        </div><br>
                        <div class="row" style="padding-right: 350px">
                            <div class="col-lg-4 col-md-4">
                                <a href="{% url 'Read More' %}" class="site-btn mt-4">Review the Knowledge</a>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <a href="{% url 'Quiz List' %}" class="site-btn mt-4" >
                                    Do Quiz Again
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <a href="{% url 'Home' %}" class="site-btn mt-4" style="margin-left: -40px">Back to Home</a>
                            </div>
                        </div>
                    </div><br>
                </div>
			</div>
        </div>

	</section>
	<!-- review section end -->

{% endblock %}

