{% extends 'base.html' %}
{% block navigation %}
    <li ><a href="{% url 'Home' %}">Home</a></li>
    <li><a href="{% url 'About' %}">About</a></li>
    <li ><a href="{% url 'Read More' %}">More Information</a></li>
    <li><a href="{% url 'Quiz List' %}">Pneumonia Quiz</a></li>
    <li class="active"><a href="{% url 'Search' %}">Clinic Search</a></li>
{% endblock %}
{% block js %}

{% endblock %}

{% block mainbody %}
    {% load static %}
    <style>
        .clicked { box-shadow: 0px 0px 50px #c82333 inset; color: #fdfdfe; }
         #type {
                height: 50px;background: #0c5460;padding: 10px;
                 color: #ececf6; width:200px; border: none;border-radius: 5px;outline: none;
         }
         #btn :active{ box-shadow: 0px 0px 50px #c82333 inset; color:#fdfdfe; }
         .search-field{
                        height: 50px; padding: 10px;border: none;
                        border-radius: 5px; width: 300px;
                        float:left;margin-top:5px;margin-right:5px;display:inline;

         }
         .search-btn{
                    height: 50px;width: 150px;background: #71cd29;
                    border: none;color: #ececf6;border-radius: 5px;display:inline;

         }
         .search-btn:hover {
                                background-color: lightseagreen; /* Green */
                                color: white;
                            }
    </style>

    <!-- search section -->
    <div class="header123" style="height:100vh;background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../static/img/homepage/info.jpg);
                                                background-size: cover;
                                                background-position: center;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                font-family: sans-serif;">
         <form action="" method="POST"class="contact-form" >
             {% csrf_token %}
             <div>
                <h1 style="color: #fff; margin-bottom: 50px; font-size: 70px; text-align:center; letter-spacing: 2px;">Find Clinics</h1>
             </div>
            <div>
                <br/><br/>
                 <!--clinic location-->
                <input type="button" id='chooseName' class="choose-btn" onclick="checkClick1()"
                        style="height: 50px;width:200px;color: #ececf6;
                            background: #0c5460;border-radius: 5px;border: none;" name="choose" value="Clinic Location" >

                 <!--clinic Name-->
                <input type="button" id='chooseLocation' class="choose-btn" onclick="checkClick2()"
                       style="height: 50px;width:200px;color: #ececf6;
                            background: #0c5460;border-radius: 5px;border: none;"name="choose" value="Clinic Name" >
                <div style="display: none"><input id = 'chooseType'  name ='getChoose' value=""></div>
                <script>
                    function checkClick1(){
                        document.getElementById("chooseLocation").className = document.getElementById("chooseLocation").className == 'unclicked' ? '' : 'unclicked';
                        document.getElementById("chooseName").className = document.getElementById("chooseName").className == 'clicked' ? '' : 'clicked';
                        getChoice = document.getElementById("chooseName").value;
                        document.getElementById("chooseType").value = getChoice;
                    }
                    function checkClick2(){
                        document.getElementById("chooseName").className = document.getElementById("chooseName").className == 'unclicked' ? '' : 'unclicked';
                        document.getElementById("chooseLocation").className = document.getElementById("chooseLocation").className == 'clicked' ? '' : 'clicked';
                        getChoice = document.getElementById("chooseLocation").value;
                        document.getElementById("chooseType").value = getChoice;
                    }
                </script>

                 <!--clinic type(12 totally)-->
                <select id="type" type="text" list="typelist" name="choose-type" >
                    <datalist id="typelist">
                        <option selected>All Clinic Type</option>>
                        <option>Child health care centre</option>>
                        <option>Children's health service</option>>
                        <option>Children's hospital</option>>
                        <option>Doctor</option>>
                        <option>Family practice physician</option>>
                        <option>General practitioner</option>>
                        <option>Hospital</option>>
                        <option>Immunisation Service</option>>
                        <option>Local medical services</option>>
                        <option>Medical Center</option>>
                        <option>Medical group</option>>
                        <option>Pediatrician</option>>
                    </datalist>
                </select>
            </div>
            <div class="form-inline">

                <input type="text" class="search-field"  name="searchclinic" value="Enter Keyword"
                                                    style="height: 50px; padding: 10px;border: none;
                                                    border-radius: 5px; width: 610px;
                                                    float:left;margin-top:5px;margin-right:5px;display:inline;">
                 <input type="submit" class="search-btn" style="display:inline">
            </div>

        </form>
    </div>
    <!-- search section end -->

    <!-- clinic section -->
	<section class="contact-section spad">
		<div class="container">
            <form action="search/searchresult" method='POST' >
            {% csrf_token %}
            {% if search_result_num >= 0 %}
                <h2 style="color: red;">{{ result_remind }}</h2>
            {% endif %}
            {% if search_result_num == -1 %}
                <h2 style="color:  black">Some recommendations by rating</h2>
            {% elif search_result_num == 0 %}
                <h2 style="color: black">There are some recommended hospitals as follows</h2>
            {% else %}
                <h2 style="color:  black">You can choose one of them to get details</h2>
            {% endif %}
                <br><br>
            {% if search_result_num >= 1%}
                <div class="row">
                    {% for l2 in result_divide %}
                        <div class="col-lg-6">
                            <div class="contact-text">
                                {% for hos in l2 %}
                                <div class="contact-info">
                                    <div class="ci-image set-bg" data-setbg="{% static 'img/search/11.png'%}"style="height: 270px;width:500px;margin-bottom:50px"></div>
                                    <div class="ci-content">
                                        <h4><font color="2E8B57">{{ hos.clinic_name }}</font> </h4><br>
                                        <h5>Address: {{ hos.address }}</h5><br>
                                        <h5>Type: {{ hos.clinic_type }}</h5><br>
                                        <h5>Rating: {{ hos.rating}}</h5>
                                        <br>
                                        <div><input type="submit" class="btn  text-white px-4 "style="background-color: #34ce57;"name={{ hos.id }} value="LearnMore"></div>
                                    </div>
                                </div>
                                    <br>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
			    <div class="row">
                <div class="col-lg-6">
                    <div class="contact-text">
                        {% for hos in recommendhospital1 %}
                        <div class="contact-info">
                            <div class="ci-image set-bg" data-setbg="{% static 'img/search/11.png' %}" alt="" style="height: 270px;width:500px;margin-bottom: 50px">  </div><br><br><br>
                            <div class="ci-content">
                                <h4><font color="2E8B57">{{ hos.clinic_name  }}</font> </h4><br>
                                <h5>Address: {{ hos.address }}</h5><br>
                                <h5>Type: {{ hos.clinic_type }}</h5><br>
                                <h5>Rating: {{ hos.rating}}</h5>
                                <br>
                                <div><input type="submit" class="btn  text-white px-4 "style="background-color: #34ce57;"name={{ hos.id }} value="LearnMore"></div>
                            </div>
                        </div><br>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-text">
                        {% for hos in recommendhospital2 %}
                        <div class="contact-info">
                            <div class="ci-image set-bg" data-setbg="{% static 'img/search/9.png' %}" alt="" style="height:270px;width:500px;margin-bottom: 50px">  </div><br><br><br>
                            <div class="ci-content">
                                <h4><font color="2E8B57">{{ hos.clinic_name }}</font> </h4><br>
                                <h5>Address: {{ hos.address }}</h5><br>
                                <h5>Type: {{ hos.clinic_type }}</h5><br>
                                <h5>Rating: {{ hos.rating}}</h5>
                                <br>
                                <div><input type="submit" class="btn  text-white px-4 "style="background-color: #34ce57;"name={{ hos.id }} value="LearnMore"></div>
                            </div>
                        </div><br>
                        {% endfor %}
                    </div>
                </div>
			</div>
            {% endif %}
        </form>
		</div>
	</section>
	<!-- clinic section end -->

{% endblock %}

