{% extends 'base.html' %}
{% block navigation %}
    <li ><a href="{% url 'Home' %}">Home</a></li>
    <li><a href="{% url 'About' %}">About</a></li>
    <li ><a href="{% url 'Read More' %}">More Information</a></li>
    <li class="active"><a href="{% url 'Service' %}">Service</a></li>
{% endblock %}

{% block mainbody %}
    {% load static %}
    <!-- Page info section -->
	<section class="more-info set-bg" style="background: #E5E4E2">
		<div class="container">
            <br>
            <h5><a href="{% url 'Home' %}">Home</a>&nbsp;&gt;&nbsp;Services</h5>
			<br>
			<h1><font color="2E8B57">Services</font></h1><br>
		</div>
	</section>
	<!-- Page info section end -->

    <!-- Service Featured section -->
	<section class="services-section spad">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-8 service">
					<div class="service-icon">
						<a href="{% url 'Quiz Intro' %}"><img src="{% static 'img/quiz.png' %}" alt=""></a>
					</div>
					<div class="service-content">
                        <h4><a href="{% url 'Quiz List' %}"class="btn_click" style="text-align: left">Quiz</a></h4>
                        <br>
                        <h7>Test Your Knowledge of Children's Pneumonia</h7><br><br>
					    <p>With the growing number of children's pneumonia.
                        <br> It is important for you to have basic understanding of pneumonia, time to start!</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service">
					<div class="service-icon">
						<img src="{% static 'img/hospital.png'%}" alt="">
					</div>
					<div class="service-content">
						<h4><a href="" class="btn_click" style="text-align: left" >Clinic Searching</a></h4>
                        <br>
						<h7>Search clinics within a given location.</h7><br><br>
					    <p>Wanna know how many clinics available within your location?
                            <br>Better know it before the real emergency occurs.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service">
					<div class="service-icon">
						<img src="{% static 'img/doctor.png'%}" alt="">
					</div>
					<div class="service-content">
                        <h4><a href="" class="btn_click" style="text-align: left" >Pneumonia</a></h4>
						<br>
						<p>Call your doctor right away if your child has any of the signs of pneumonia.</p>
					</div>
				</div>


			</div>
		</div>
	</section>
	<!-- Intro section end -->
{% endblock %}

