{% extends 'base.html' %}
{% block navigation %}
    <li ><a href="{% url 'Home' %}">Home</a></li>
    <li ><a href="{% url 'Read More' %}">More Information</a></li>
    <li class="active"><a href="{% url 'Service' %}">Service</a></li>
{% endblock %}

{% block mainbody %}
    {% load static %}
    <!-- Page info section -->
	<section class="more-info set-bg" style="background: #E5E4E2">
		<div class="container">
            <br>
            <h5><a href="{% url 'Home' %}">Home</a>&nbsp;&gt;&nbsp;Services</h5>
			<br>
			<h1><font color="2E8B57">Services</font></h1><br>
		</div>
	</section>
	<!-- Page info section end -->

	<!-- Service Featured section -->
	<section class="services-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h2>Our Services</h2>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-8 service">
					<div class="service-icon">
						<a href="{% url 'Quiz Intro' %}"><img src="{% static 'img/quiz.png' %}" alt=""></a>
					</div>
					<div class="service-content">
						<h4><a href="{% url 'Quiz List' %}" class="btn_click" >Evaluation</a></h4>
						<p>self-examination the knowledge of pneumonia.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service">
					<div class="service-icon">
						<img src="{% static 'img/lungs.png'%}" alt="">
					</div>
					<div class="service-content">
						<h4>Pneumonia in Children</h4>
						<p>Check the symptoms of pneumonia in children.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service">
					<div class="service-icon">
						<img src="{% static 'img/doctor.png'%}" alt="">
					</div>
					<div class="service-content">
						<h4>Call a Doctor</h4>
						<p>Call your doctor right away if your child has any of the signs of pneumonia.</p>
					</div>
				</div>


			</div>
		</div>
	</section>
	<!-- Intro section end -->

	<!-- Faq section -->
	<section class="faq-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2><font color="#837E7C">What do you know about Pneumonia?</font></h2>
					</div>
					<ul class="faq-list">
						<li>Pneumonia is a type of lung infection, caused by a virus or bacteria. The lungs are filled with thousands of tubes, called bronchi, which end in smaller sacs called alveoli. Each one has a fine mesh of capillaries. This is where oxygen is added to the blood and carbon dioxide is removed. </li></li>

						<h2><font color="837E7C">What Causes Kids Pneumonia?</font></h2><br>
						<li>Kids with pneumonia caused by bacteria usually become sick fairly quickly, starting with a sudden high fever and unusually fast breathing.</li>
					</ul>
					<a href="{% url 'Read More' %}" class="site-btn mt-4">Read More</a>
				</div>
				<div class="col-lg-6">
					<!-- Accordions -->
					<div id="accordion" class="accordion-area faq-accordion">
						<div class="panel">
							<div class="panel-header" id="headingOne">
								<button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Pneumonia&nbsp;VS&nbsp;Health&nbsp;Lung </button>
							</div>
							<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="panel-body">
									<img src="{% static 'img/faq.jpg'%}" alt="">
									<p></p>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header" id="headingTwo">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Get to know Pneumonia </button>
							</div>
							<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="panel-body">
									<img src="{% static 'img/2.jpg'%}" alt="">
									<p>Pneumonia can range in seriousness from mild to life-threatening. It is most serious for infants and young children, people older than age 65, and people with health problems or weakened immune systems.</p>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header active" id="headingThree">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Find suitable pneumonia vaccnies </button>
							</div>
							<div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="panel-body">
									<img src="{% static 'img/page-info-bg/6.jpg'%}" alt="">
									<p>There are currently vaccines to prevent two types of pneumonia. These vaccines won't prevent all cases of pneumonia, but they can reduce the risk of severe and life-threatening complications.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Faq section end -->
{% endblock %}

