{% extends 'base.html' %}
{% block mapstyle %}
<style>
	body { margin: 0; padding: 0; }
	#map {
        position: absolute;
        top: 10px;
        bottom: 0;
        left:25px;
        width: 628px;
        height:625px;
        z-index: 2;
    }

</style>
{% endblock %}

{% block navigation %}
    <li ><a href="{% url 'Home' %}">Home</a></li>
    <li><a href="{% url 'About' %}">About</a></li>
    <li ><a href="{% url 'Read More' %}">More Information</a></li>
    <li><a href="{% url 'Quiz List' %}">Pneumonia Quiz</a></li>
    <li class="active"><a href="{% url 'Search' %}">Clinic Search</a></li>
{% endblock %}

{% block mainbody %}
    {% load static %}
    <form action="" method='POST' style="background:#E5E4E2">
        {% csrf_token %}

        <section class="services-section spad">

        </section>
    </form>

{% endblock %}